* {
  margin: 0;
  padding: 0;
  user-select: none;

  /* border: 2px solid red; */
}

#sprite-container {
  position: absolute;
  top: 63px;
  left: 126px;
  width: 1008px;
  height: 400px;
  border: 1px solid black;
  overflow: hidden;
}

#sprite-img {
  position: absolute;
  top: 136px;
  left: 472px;
}

.move-right {
  transform: translate(64px);
  transition: transform 800ms linear;
}

.move-left {
  transform: translate(-64px);
  transition: transform 800ms linear;
}

.move-down {
  transform: translateY(64px);
  transition: transform 800ms linear;
}
